<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Juegos.css">
    <title>Juegos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header> <div class="header-logo"><img src="./public/img/logo2.png" alt=""></div>
        <nav>
            
            <a href="index">Inicio</a>
            <a href= "Torneos">Torneos</a>
            <a href="Juegos">Juegos</a>
        </nav>
    </header>
    <main>
        <h1>Podras competir en</h1>
       <div>
        <section class="Lol">
            <picture><img src="./img/Lol.jpg" alt=""></picture>
            <div class="contenido-Lol">League of Legends es un juego de estrategia por equipos en el que dos equipos de cinco campeones se enfrentan para ver quién destruye antes la base del otro. Elige de entre un elenco de 140 campeones para realizar jugadas épicas, asesinar rivales y derribar torretas para alzarte con la victoria.</div>
        </section>
        <section class="Overwatch">
            <picture><img src="./img/Overwatch.jpg" alt=""></picture>
            <div class="contenido-Overwatch">Overwatch pone a los jugadores en equipos de seis personas, con cada persona escogiendo uno de varios héroes disponibles, cada uno con movimientos y habilidades únicas. Los héroes están divididos en tres clases: Daño, Tanque y Apoyo. </div>
        </section>
        <section class="Fifa">
            <picture><img src="./img/FIFA-21.jpg" alt=""></picture>
            <div class="contenido-Fifa">Durante más de 20 años, EA SPORTS ha producido la legendaria serie FIFA, la mayor franquicia de videojuegos de deportes del mundo. En FIFA, el deporte rey cobra vida: disfruta de las ligas, clubes y jugadores más importantes del mundo del fútbol, con un detalle y realismo increíbles.</div>
        </section>
        <section class="Dota">
            <picture><img src="./img/DOTA-2.jpg" alt=""></picture>
            <div class="contenido-Dota">Dota 2 es un juego multijugador de estrategia en tiempo real, distribuido por la plataforma Steam de Valve. En este, dos equipos de cinco jugadores tienen el objetivo de destruir las estructuras rivales controlando a personajes denominados héroes. </div>
        </section>
    </div>
    </main>
    <footer>
        <picture class="footer-img"><img src="./img/logo2.png" alt="Spiel" title="Spiel"></picture>     
            <p>contacto.clientes@spiel.com</p>
            <p>3174809715</p>
            <p> © Copyright 2020</p>
    </footer>
</body>
</html>