<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Register.css">
    <title>Registro</title>
</head>
</body>
    <div class="container">
            <Picture><img src="./img/logo2.png" alt="Logo de nuestra empresa de torneos"></Picture>
       <div  class="Formulario-Login">
            <form action="">
                    <label for="email">
                    <input type="email" id="email" placeholder="Email" autocomplete="email" required>
                </label>
                    <label for="contraseña">
                    <input type="password" id="contraseña" placeholder="Contraseña"  required>
                </label>
                    <label for="username">
                    <input type="text" id="username" placeholder="username"  required>
                </label>
                    <label for="confirmar contraseña">
                    <input type="password" id="confirmar contraseña" placeholder="Confirmar contraseña"  required>
                </label>
                     <label for="pais">
                     <input type="text" id="pais" placeholder="Pais"  required>
                </label>
                <label for="Telefono">
                    <input type="number" id="Telefono" placeholder="Telefono" required>
                </label>
                
            </form>
            <input class="boton" type="submit" value="Vamo a juga" >
        </div>
    </div>
</body>
</html>