<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Torneos.css">
    <title>Torneos</title>
</head>
<body>
    <header> <div class="header-logo"><img src="./img/logo2.png" alt=""></div>
        <nav>
            <a href="Login">Iniciar sesion</a>
            <a href= "Register">Registrarse</a>
            <a href="index">Inicio</a>
            <a href= "Torneos">Torneos</a>
            <a href="#">Juegos</a>
        </nav>
    </header>
    <main>
        <div>
        <button><a href="">Crear torneo</a>
        <button><a href="">Competir</a>
    </div></main>
    <footer>
        <picture class="footer-img"><img src="img/logo2.png" alt="Spiel" title="Spiel"></picture>     
            <p>contacto.clientes@spiel.com</p>
            <p>3174809715</p>
            <p> © Copyright 2020</p>
    </footer>
</body>
</html>