<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Vertorneos.css">
    <title>Mis torneos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <header> <div class="header-logo"><img src="./img/logo2.png" alt=""></div>
        <nav>
            <a href="index">Inicio</a>
            <a href= "Torneos">Torneos</a>
            <a href="Juegos">Juegos</a>
        </nav>
    </header>
    <main>
        <section class="tabla-contenido">
            <div class="tabla-contenido-titulo"><h1>Mis torneos</h1></div>
            <div class="tabla-contenido-datos">
                <table class="Juju">
                    <tr><th>Equipo</th><td><span class="junior"></span>Junior</td></tr>
                    <tr><th>Juego</th><td>Lol</td></tr>
                    <tr><th>Nivel</th><td>III</td></tr>
                    <tr><th>Posición</th><td>Top</td></tr>
                </table>
                <table>
                    <tr><th>Equipo</th><td><span class="Santafe"></span>Santa fe</td></tr>
                    <tr><th>Juego</th><td>Fifa</td></tr>
                    <tr><th>Nivel</th><td>I</td></tr>
                    <tr><th>Posición</th><td>---</td></tr>
                </table>
                <table class="Boquita">
                    <tr><th>Equipo</th><td><span class="Boca"></span>Boca</td></tr>
                    <tr><th>Juego</th><td>Overwatch</td></tr>
                    <tr><th>Nivel</th><td>IV</td></tr>
                    <tr><th>Posición</th><td>Tanque</td></tr>
                </table>
                <table class="millos">
                    <tr><th>Equipo</th><td><span class="Millonarios"></span>Millos</td></tr>
                    <tr><th>Juego</th><td>Dota</td></tr>
                    <tr><th>Nivel</th><td>II</td></tr>
                    <tr><th>Posición</th><td>Mid</td></tr>
                </table>
            </div>
        </section>
        <section class="main-buttons">
            <div>
                <a href="VistaGeneral">Vista general</a>
            </div>
            <div>
                <a href="Editarperfil">Editar perfil</a>
            </div>
            <div>
                <a href="Vertorneos">Ver mis torneos</a>
            </div>
        </section>
    </main>
    <footer>
        <picture class="footer-img"><img src="./img/logo2.png" alt="Spiel" title="Spiel"></picture>     
            <p>contacto.clientes@spiel.com</p>
            <p>3174809715</p>
            <p> © Copyright 2020</p>
    </footer>
</body>
</html>
