<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/ActualizarPerfil.css">
    <title>Actualizar perfil</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <header> <div class="header-logo"><img src="./img/logo2.png" alt=""></div>
        <nav>
            <a href="index">Inicio</a>
            <a href= "Torneos">Torneos</a>
            <a href="#">Juegos</a>
        </nav>
    </header>
    <main>
        <section class="tabla-contenido">
            <div class="tabla-contenidos-imagen"><img src="./img/Foto de perfil.jpg" alt="Foto de perfil usuario"></div>
            <div class="tabla-contenidos-titulo"><h1>Vista general</h1></div>
            <div class="tabla-contenidos-titulosecundario"><h2>Perfil</h2></div>
            <div class="tabla-contenido-datos">   
                <table>
    
                <tr>
                
                    <th>Nombre de usuario</th>
                    <td>sdf</td> 
                </tr>
                <tr>
                    <th>Correo electrónico</th>
                    <td>dsf</td>
                </tr>
                <tr>
                    <th>Telefono</th>
                    <td>sdf</td>
                </tr>
                <tr>
                    <th>País</th>
                    <td>sdf</td>
                </tr>

                </table>
             </div>
        </section>
        <section class="main-buttons">
            <div>
                <button>Vista general</button>
            </div>
            <div>
                <button>Editar perfil</button>
            </div>
            <div>
                <button>Ver mis torneos</button>
            </div>
        </section>
    </main>
    <footer>
        
        <picture class="footer-img"><img src="./img/logo2.png" alt="Spiel" title="Spiel"></picture>     
            <p>contacto.clientes@spiel.com</p>
            <p>3174809715</p>
            <p> © Copyright 2020</p>
        
    </footer>
</body>
</html>
