<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/ActualizarPerfil.css">
    <title>Vista general</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Farro:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <header> <div class="header-logo"><img src="../public/img/logo2.png" alt=""></div>
        <nav>
            <a href="index">Inicio</a>
            <a href= "Torneos">Torneos</a>
            <a href="#">Juegos</a>
        </nav>
    </header>
    <main>
        <section class="tabla-contenido">
            <div class="tabla-contenidos-imagen"><img src="../public/img/fotousuario.png" alt="Foto de perfil usuario"></div>
            <div class="tabla-contenidos-titulo"><h1>Vista general</h1></div>
            <div class="tabla-contenidos-titulosecundario"><h2>Perfil</h2></div>
            <div class="tabla-contenido-datos">   
                <table>
                <tr>
                    <th>Nombre</th>
                    <td>Gaisgeach</td>
                </tr>
                <tr>
                    <th>Correo electrónico</th>
                    <td>camiloalex2000@gmail.com</td>
                </tr>
                <tr>
                    <th>Fecha de nacimiento</th>
                    <td>27 de julio de 2000</td>
                </tr>
                <tr>
                    <th>País</th>
                    <td>Colombia</td>
                </tr>
                </table>
             </div>
        </section>
        <section class="main-buttons">
            <div>
                <a href="VistaGeneral.html">Vista general</a>
            </div>
            <div>
                <a href="Editarperfil.html">Editar perfil</a>
            </div>
            <div>
                <a href="Vertorneos.html">Ver mis torneos</a>
            </div>
        </section>
    </main>
    <footer>
        <picture class="footer-img"><img src="../public/img/logo2.png" alt="Spiel" title="Spiel"></picture>     
            <p>contacto.clientes@spiel.com</p>
            <p>3174809715</p>
            <p> © Copyright 2020</p>
    </footer>
</body>
</html>
