*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
:root{
    --Gris-oscuro:#222831;
    --Gris-claro:#393E46;
    --Amarillo:  #FFD369;
    --Blanco:    #EEEEEE;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--Gris-oscuro);
    width: 100vw;
    height: 13vh; 
     
}
.header-logo img{
    width: 100%;
}
.header-logo{
    width: 130px;
    height: 50px;
    align-self: flex-start;
    
}
header nav {
    height: 100%;
    display: flex;
}
header nav a{
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    margin:0 25px;
    color: var(--Blanco);
    font-size: 20px;
    height: 100%;
    padding: 0 10px;
}
header nav a:hover{
    background-color: var(--Gris-claro);
}
main{
    background-color: var(--Gris-claro);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100vw;
}
main .tabla-contenidos-imagen img{
    width: 100%; 
    border-radius: 300px;
}
main .tabla-contenidos-imagen{
    width: 200px;
    height: 200px;
}
main .tabla-contenido{
    background-color:var(--Blanco);
    width: 600px;
    height: 500px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-family: 'Farro', sans-serif;
    border-radius: 4px;
}
main .tabla-contenido div{
    margin: 5px 0;
}
main .tabla-contenidos-titulosecundario{
    align-self: flex-start;
    padding-left: 90px;
    margin-left: 400px;
}
main .tabla-contenido-datos{
    border-collapse: collapse;
    border:2px solid  var(--Gris-oscuro);
    font-size: 1.2rem;
}
main .tabla-contenido-datos table th,td{
    padding: 26px 20px 10px 50px;   
}
main .main-buttons{
    align-self: center;
}
main .main-buttons div{
    background-color: var(--Amarillo);
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    display: flex;
}
main .main-buttons div a{
    border-style: none;
    background-color: var(--Amarillo);
    font:bold;   
    padding: 20px 52px;
    display: inline-block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--Gris-claro);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
main .main-buttons div a:hover{
    background-color: #ecab0f;
    cursor: pointer;
    color: var(--Gris-oscuro);
}
footer{
    display: flex;
    background-color: var(--Gris-oscuro);
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 26vh;
    width: 100vw;
    
}
.footer-img img{
    width: 100%;
}
footer .footer-img{
    height: 100px;
    width: 150px;
}
footer p{
    color: var(--Blanco);
    font-size: 1.3rem;
    margin:2px 0px;
}